@model BankConfirmation_DTO.Credit

@{
    ViewData["Title"] = "Details";
}
<br />
<br />
<div class="row row-set">
    <div class="col-md-4">
        <img class="img-bank" src="https://www.addiko.rs/static/uploads/Addiko-Office-hrcak-Oskar-rgb-merge-e1650631123885.png" />
        <div class="col-md-6 div-get">
            <h1 class="h-get">Credit Details</h1>
            <br />
            <dl class="row dl-get">
                <dt class="col-sm-6 dt-get ">
                    @Html.DisplayNameFor(model => model.Client.FirstName)
                </dt>
                <dd class="col-sm-5 dd-get ">
                    @Html.DisplayFor(model => model.Client.FirstName)
                </dd>
                <dt class="col-sm-6 dt-get ">
                    @Html.DisplayNameFor(model => model.Client.LastName)
                </dt>
                <dd class="col-sm-5 dd-get ">
                    @Html.DisplayFor(model => model.Client.LastName)
                </dd>
                <dt class="col-sm-6 dt-get ">
                    @Html.DisplayNameFor(model => model.Client.ClientIdNumber)
                </dt>
                <dd class="col-sm-5 dd-get ">
                    @Html.DisplayFor(model => model.Client.ClientIdNumber)
                </dd>
                <dt class="col-sm-6 dt-get ">
                    @Html.DisplayNameFor(model => model.Client.ClientCity)
                </dt>
                <dd class="col-sm-5 dd-get ">
                    @Html.DisplayFor(model => model.Client.ClientCity)
                </dd>
                <dt class="col-sm-6 dt-get ">
                    @Html.DisplayNameFor(model => model.Client.ClientAddress)
                </dt>
                <dd class="col-sm-5 dd-get ">
                    @Html.DisplayFor(model => model.Client.ClientAddress)
                </dd>
                <dt class="col-sm-6 dt-get ">
                    @Html.DisplayNameFor(model => model.Client.ClientCountry)
                </dt>
                <dd class="col-sm-5 dd-get ">
                    @Html.DisplayFor(model => model.Client.ClientCountry)
                </dd>
                <span>
                    <br />
                    <br />
                </span>
                <div class="form-group">
                    <a asp-action="Index" class="btn btn-warning">Back to List</a>
                </div>
            </dl>
        </div>
    </div>
    
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
